body {
    background-color:beige;
}

h1, h3 {
    color: rgb(235, 91, 8);
    font-family: 'Original Surfer', cursive;
}

.top {
    margin-left: 20px;
}

.description {
    width: 600px;
    font-family:'Lato',sans-serif;
}

.left {
    width: 600px;
    float:left; 
    margin-top: 8px;
    margin-left: 20px;
    font-family: 'Lato',sans-serif;
}


.right {
    width: 600px;
    float: left;
    margin-left: 30px;
    font-family: 'Lato',sans-serif;
}